@import "~bulma/sass/utilities/_all";
$body-size: 20px;
// Set your colors
//$primary: #8c67ef;
$primary: #0074D9;
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

html {
    position: relative;
    min-height: 100vh;
}
body {
    //font-family: 'Roboto', sans-serif;
}
.main-content{
    padding:2rem 0 6rem 0;
}
.footer {
    position:absolute;
    bottom: 0;
    width: 100%;
    padding:2rem 1rem;
}
.is-active {
    font-weight: bold;
    //background: $primary-invert;
}
/* Enter and leave animations can use different */
/* durations and timing functions.              */

  .page-enter-active, .page-leave-active {
      transition: all 0.5s;
  }
  .page-enter, .page-leave-active {
      opacity:0;
     // transform: scale(0);
  }

  .layout-enter-active, .layout-leave-to {
    transition: opacity .5s;
  }
  .layout-enter, .layout-leave-to {
    opacity: 0;
  }


